.content{
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(rgba(250,250,250, 0.5), rgba(255, 255, 255, 0.5)),
        linear-gradient(160deg, rgba(255,255,255, 0.28), rgba(177, 177, 176, 0.15)),
        url('./vcl.png') no-repeat left center,
        url('./logos_home.png') no-repeat right 6vh bottom 3vh,
        url('./vtr.png') no-repeat right top,
        url('./vbl.png') no-repeat left bottom,
        linear-gradient(rgb(255,255,255), rgb(255, 255, 255));
    background-size:
        100%,
        100%,
        contain,
        550px auto,
        25vmax auto,
        25vmax auto,
        100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content {
    text-align: center;
}
.center-content h1{
    color: #0A6CB5;
    font-size: 94px;
    margin: 25px 0;
}

.center-content img{
    width: 50%;
}
.center-content button{
    margin: 0 5px;
    border: none;
    font-size: 50px;
    padding: 30px;
    color: #fff;
    background: #2FA8E0;
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24);
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}
.center-content button:hover{
    background: #0A6CB5;
}
