.isPrinting{
  display: none;
}
.accreditedFeedback{
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

@page {
  size:  2cm 2cm;
  margin: 0;
}
@media print{
  .accreditedFeedback-containner{
    position: relative;
  }
  .accreditedFeedback{
    display: none;
  }
  .isPrinting{
    display: block;
  }
  .isPrinting p{
    margin: 0;
    position: absolute;
    top: 7.5cm;
    left: 2cm;
    font-size: 0.6cm;
  }
  .isPrinting .background{
    width: 100%;
    height: 100%;
  }
  .isPrinting .foto{
    position: absolute;
    width: 3cm;
    top: 2.7cm;
    right: 1.05cm;
    border: 2px solid white;
  }

  body{
    overflow: hidden;
    width:105mm !important;
    height:148mm !important;    
    box-sizing: border-box;
    page-break-after: always;
  }
}
.loader-content{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.content-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner {
  display: block;
  margin-bottom: 25px;
  animation: 0.3s;
}

.header-bar {
  margin: 50px 0;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 70px;
}

button.confirm-btn{
  float: right;
  background: #48AD70;
  height: 86px;
  width: 250px;
  font-size: 33px;
  font-family: 'Roboto';
  color: #fff;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.retry{
  width: unset !important;
  float: unset !important;
  font-size: 23px !important;
  height: 78px !important;
  padding: 0 25px !important;
  margin-top: 50px;
}

.confirm-data{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.confirm-data h2 {
  color: #0A6CB5;
  font-size: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
}

.confirm-data p {
  font-weight: bold;
  margin: 0;
  color: #989898;
  font-size: 32px;
  margin-bottom: 15px;
}

.confirm-data img{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.94)
}
