body{ 
  background: 
    linear-gradient(160deg, rgba(255,255,255, 0.3), rgba(177, 177, 176, 0.2)),
    url('bg-body.png') no-repeat left center;
  background-size: 
    100%,
    contain;
  width: 100%;
  height: 100vh;
}
@media print{
  body{
    background: white;
  }
}
.back-btn {
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  background: #fff;
  border: solid 1px #707070;
  cursor: pointer;
  outline: none;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
}